:root{
    --color-principal: #f60;
}
*{
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family:monospace;
}
.cronometro{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.tiempo{
    display: flex;
    font-size: 4em;
    border: 1px solid var(--color-principal);
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.marca-de-tiempo{
    overflow: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 100%;
}
.marca-de-tiempo::-webkit-scrollbar{
    display: none;
}
.data-time{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    border-left: 1px solid var(--color-principal);
    padding-left: 5px;
    font-size: 2em;
}
.buttons{
    padding: 10px 50px;
    border-radius: 50px;
    background: var(--color-principal);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.iniciar,.reiniciar,.vueltas{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
i{
    color: var(--color-principal);
}