:root{
    --color-principal: rgb(5, 130, 220);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family:monospace;
    text-decoration: none;
}
body{
   overflow: hidden;
}
/*Cronometro*/
#cronometro,#temporizador,#reloj,#alarma{            /*Style para los 4*/
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.aside{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}
.aside__ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2.5em;
}
.aside__ul li {
    cursor: pointer;
    color: black;
}
.section__select{
    border-bottom: 2px solid var(--color-principal);
}

.tiempo{
    display: flex;
    font-size: 4em;
    border: 5px solid var(--color-principal);
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.marca-de-tiempo{
    overflow: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
}
.marca-de-tiempo::-webkit-scrollbar{
    display: none;
}
.data-time{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    border-bottom: 2px solid var(--color-principal);
    font-size: 2em;
}
.buttons{
    padding: 10px 50px;
    border-radius: 50px;
    background: var(--color-principal);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.iniciar,.reiniciar,.vueltas{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
i{
    color: var(--color-principal);
}

/*Temporizador*/
.tempTime{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    position: relative;
}
.time-disminuir{
    font-size: 2em;
    width: 10%;
}

/*Reloj*/
